html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 1300px;
  border: 10px solid #fff;
  box-shadow: 3px 3px 30px #888;
}
