* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";

  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
}
#app {
  width: 70%;
  height: 90%;
}
#app > .menu {
  width: 100%;
  height: 20%;
  overflow: auto;
}
#app > .menu > nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app > .menu > nav > a {
  cursor: pointer;
  width: 20%;
  height: 100%;
  float: left;
  opacity: 0.5;
}
#app > .menu > nav > a > img {
  width: 100%;
}
#app > #contentPhoto {
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-bottom: 14px solid #fff;
  background-color: #ddd;

  background-image: url("../../images/08/big/a1.jpg");
  background-size: cover;
  background-position: center;
}
