*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    height: 100%;
}
h1.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 10%;
    height: 200px;
    background-color: orange;
    border: 10px solid #fff;
    float: left;
    color: #fff;
}