* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url("../../images/bg/3.jpg");
}
#app {
  border: 1px solid #000;
}
li {
  list-style-type: none;
}
ul.tit {
  overflow: hidden;
}
ul.tit > li {
  text-align: center;
  padding: 20px 50px;
}
.bgcolor {
  background-color: #888;
  border-bottom: 1px solid #000;
}
.bgcolor > li {
  color: #fff;
}
