* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../../images/bg/3.jpg");
}
#app {
  width: 600px;
}
.item {
  margin-bottom: 50px;
}
.item h3 {
  margin-bottom: 10px;
}
.item p {
  margin-bottom: 10px;
  line-height: 25px;
}
button {
  display: block;
  width: 100px;
  height: 30px;
}
