*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: 50% 0%;
}
.mid{
    width: 500px;
}

.mid > p{
    color: rgb(46, 46, 46);
    font-weight: bold;
    margin-bottom: 20px;
}
.mid > p > a{
    color: rgb(46, 46, 46);
    font-weight: bold;
}
.seach{
    width: 100%;
    height: 30px;
    padding-left: 5px;
}
.seach_list{
    width: 100%;
}
.seach_list > .item{
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 25px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.seach_list > .item > a{
    display: block;
}
.seach_list > .item > a.title{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.seach_list > .item > a.link{
    font-size: 12px;
    color: cornflowerblue;
}
.seach_list > .item > a:hover{
    color: rgb(40, 102, 218);
}
.seach_list > .item > p{
    font-size: 12px;
    line-height: 20px;
}

#btn{
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 3px 5px #000;
    background-color: #fff;
    font-size: 20px;
    outline: none;
}