* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Microsoft JhengHei", "Heiti TC", "sans-serif";
  background-color: #f0ffe4;
}
h1 {
  padding: 0;
  margin: 0;
}
#app {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.tags_box {
  width: 600px;
}

.tag {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tags_box a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 4px 0px;
  background-color: #fff;
  color: rgb(67, 67, 67);
  font-size: 12px;
  border-radius: 25px;
  border: 2px solid yellowgreen;
  margin: 0 5px;
  font-weight: bold;
}
.tags_box a.active {
  background-color: yellowgreen;
  color: #fff;
}

.content {
}
.card {
  position: relative;
  width: 500px;
  height: 160px;
  background-color: #fff;
  box-shadow: 1px 0 5px #00000032;
  padding: 14px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card > h1 {
  font-size: 24px;
  font-weight: bold;
}
.card > a {
  cursor: pointer;
  font-size: 12px;
  color: #0b778d;
  text-decoration: dashed;
  font-weight: bold;
}
.card > p {
  font-size: 14px;
  color: #454545;
  margin-top: 10px;
  line-height: 1.5;
}
.loading,
.no_data {
  padding-top: 100px;
}
.hidden {
  display: none;
}
